.gallery {
  grid-row-gap: 30px;
  padding: 20px 40px 40px 40px;
  max-width: 280px;
  margin: 0 auto;
  background-color: $main-color;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 50px 60px 60px 60px;
    max-width: 616px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: auto auto max-content;
    padding: 60px 100px 50px 100px;
    max-width: 882px;
  }
}