.movie {
    &-card {
        width: 280px;
        height: 443px;
        border-radius: 5px;
        display: block;
        margin-bottom: 20px;
    }

    &-picture {
        width: 280px;
        height: 398px;
        border-radius: 5px;
    }

    &-img {
        width: 280px;
        height: 398px;
        border-radius: 5px;

        &:hover {
            animation-name: pulse;
            animation-timing-function: ease-in-out;
            animation-duration: 0.5s;
            box-shadow: 13px 9px 20px -4px rgba(130, 130, 130, 1);
        }
    }

    @keyframes pulse {
        0% {
            transform: scaleX(1);
            opacity: 1;
        }

        50% {
            transform: scale3d(1.05, 1.05, 1.05);
            opacity: 0.8;
        }

        to {
            transform: scaleX(1);
            opacity: 1;
        }
    }

    &-description {
        font-family: $main-font;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        width: 100%;
        height: 443px - 398px;
        display: block;
    }

    &-title {
        text-transform: uppercase;
        padding-top: 10px;
    }

    &-genre {
        color: $details-color;
    }
}

@media screen and (min-width: 768px) {
    .movie {
        &-card {
            width: 239px;
            height: 439px;
            margin: 0;
        }

        &-picture {
            width: 293px;
            height: 398px;
        }

        &-img {
            width: 293px;
            height: 398px;
        }

        &-description {
            height: 45px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .movie {
        &-card {
            width: 274px;
        }

        &-picture {
            width: 274px;
        }

        &-img {
            width: 274px;
            height: 398px;
        }
    }
}