$main-font: 'Roboto',
sans-serif;

$details-color: #ff6b08;
$error-color: #ff001b;
$footer-bg: #f7f7f7;
$footer-color: #545454;
$main-color: #ffffff;
$modal-categories: #8c8c8c;
$secondary-color: #000000;