.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: #F7F7F7;
}
.footer__text{
  margin: 2px;
  color:#545454;
}
.footer__link{
  text-decoration: underline;
}
.heart__svg{
  width:14px;
  height:13px;
}