h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  padding: 20px 20px;
  border-radius: 10px;
  border: #f7f7f7;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  max-height: calc(100vh - 40px);
}

.modal__close-btn,
.modal__close-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 11px;
  top: 10px;
}

.modal__close-btn {
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

.modal__prev-btn,
.modal__next-btn {
  position: absolute;
  top: 40%;
}

.modal__prev-btn {
  left: -15%;
}

.modal__next-btn {
  right: -15%;
}

.arrow {
  position: absolute;
  cursor: pointer;
  padding: 2rem;
  box-shadow: 1px -1px 0 1px #ff6b01 inset;
  -webkit-box-shadow: 2px -2px #ff6b01 inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.arrow:hover {
  box-shadow: 2px -2px 0 2px #fff inset;
  -webkit-box-shadow: 4px -4px #fff inset;
}

.arrow-up {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow-right {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.arrow-down {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow-left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.movie {
  margin-top: 40px;
}

.modal__movie-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30.43px;
}

.modal__movie-title {
  font-size: 20px;
  line-height: 23px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.modal__categories-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__categories-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__category-left-item {
  font-size: 12px;
  white-space: nowrap;
  color: #8c8c8c;
  line-height: 16px;
}

.genre {
  word-wrap: break-word;
}

.modal__category-right-item {
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
}

.modal__categories-left-list {
  padding-left: 0;
}

.modal__category-left-item:not(:last-child),
.modal__category-right-item:not(:last-child) {
  padding-bottom: 10px;
}

.modal__about-header {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 16px;
  margin-bottom: 10px;
}

.modal__about {
  font-size: 12px;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 21px;
}

.vote {
  background: #ff6b01;
  border-radius: 5px;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}

.slash {
  margin: 0;
  padding-left: 3px;
  padding-right: 3px;
}

.votes {
  margin: 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding-right: 4px;
  padding-left: 4px;
}

.double {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.modal__add-btn {
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  white-space: wrap;
  width: 112.58px;
  height: 44px;
  cursor: pointer;
  background: #FFF;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 750px;
    max-height: 562px;
    overflow-y: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px 30px;
  }
  .modal__prev-btn {
    left: -10%;
  }
  .modal__next-btn {
    right: -10%;
  }
  .modal__movie-info {
    margin-left: 32px;
  }
  .movie {
    margin-top: 23px;
  }
  .modal__movie-photo {
    min-width: 264px;
    max-height: 373.55px;
    margin-right: 32px;
    margin-top: 0;
  }
  .modal__movie-title {
    padding-top: 23px;
  }
  .modal__categories {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal__add-btn {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 882px;
    max-height: 5628px;
    overflow-y: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__prev-btn {
    left: -10%;
  }
  .modal__next-btn {
    right: -10%;
  }
  .modal__movie-info {
    margin-left: 30px;
  }
  .movie {
    margin-top: 23px;
  }
  .modal__movie-photo {
    min-width: 345px;
    height: 478px;
    margin-top: 0;
  }
  .modal__movie-title {
    padding-top: 23px;
  }
  .modal__categories-left {
    margin-right: 80px;
  }
  .modal__categories {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal__buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal__add-btn {
    width: 136px;
    height: 44px;
  }
  .watched {
    margin-right: 15px;
  }
}

.backdrop {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  padding: 20px 20px;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-property: inherit;
  transition-property: inherit;
  width: 100%;
  z-index: 10;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.gallery {
  grid-row-gap: 30px;
  margin: 20px auto 40px auto;
  max-width: 280px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    margin: 50px auto 60px auto;
    max-width: 616px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    margin: 60px auto 50px auto;
    max-width: 882px;
  }
}

.movie-card {
  width: 280px;
  height: 443px;
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
}

.movie-picture {
  width: 280px;
  height: 398px;
  border-radius: 5px;
}

.movie-img {
  width: 280px;
  height: 398px;
  border-radius: 5px;
}

.movie-img:hover {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-box-shadow: 13px 9px 20px -4px #828282;
          box-shadow: 13px 9px 20px -4px #828282;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.8;
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.8;
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}

.movie-description {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  height: 45px;
  display: block;
}

.movie-title {
  text-transform: uppercase;
  padding-top: 10px;
}

.movie-genre {
  color: #ff6b08;
}

@media screen and (min-width: 768px) {
  .movie-card {
    width: 239px;
    height: 439px;
    margin: 0;
  }
  .movie-picture {
    width: 293px;
    height: 398px;
  }
  .movie-img {
    width: 293px;
    height: 398px;
  }
  .movie-description {
    height: 45px;
  }
}

@media screen and (min-width: 1024px) {
  .movie-card {
    width: 274px;
  }
  .movie-picture {
    width: 274px;
  }
  .movie-img {
    width: 274px;
    height: 398px;
  }
}

@-webkit-keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25;
    /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25;
    /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22;
    /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@-webkit-keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.container-header {
  margin-top: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/header-background_m.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-background_m.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
}

body {
  min-height: 100%;
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

body.students-active {
  overflow: hidden;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
}

.header__title {
  display: none;
  margin: 0;
  text-decoration: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  list-style-type: none;
  margin-left: auto;
  margin: 0;
  padding: 0;
}

.header__list__item {
  margin-right: 20px;
  margin-top: 58px;
}

.header__list__item:not(:last-child) {
  margin-right: 39px;
  position: relative;
}

.header__list__item:not(:last-child)::after {
  border: 1px solid #ff6b08;
  content: "";
  height: 0;
  left: 0;
  margin: 0;
  position: absolute;
  position: absolute;
  top: 15px;
  width: 100%;
}

.header__link {
  text-decoration: none;
  color: #ffffff;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.header__input {
  background: transparent;
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  width: 100%;
  display: block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.header__input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.header__input:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.header__input::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.header__input::placeholder {
  color: #ffffff;
  opacity: 1;
}

.header__icon--search {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 5px;
  top: 3px;
  cursor: pointer;
}

.header__icon--film {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 55px;
  left: 21px;
  cursor: pointer;
}

.header__search {
  position: relative;
  max-width: 280px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.header__error {
  margin-top: 22px;
  display: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ff001b;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/header-background_t.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-background_t.png");
  }
  .header__title {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 141px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: absolute;
    left: 105px;
    top: 55px;
  }
  .header__list__item {
    margin-right: 76px;
  }
  .header__input {
    width: 336px;
  }
  .header__search {
    margin-top: 50px;
  }
  .header__icon--search {
    left: 321px;
  }
  .header__icon--film {
    left: 71px;
    top: 61px;
  }
}

@media screen and (min-width: 1024px) {
  .container-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/header-background_d.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/header-background_d.png");
  }
  .header__title {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 141px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: absolute;
    left: 105px;
    top: 55px;
  }
  .header__icon--search {
    left: 321px;
  }
  .header__icon--film {
    left: 71px;
    top: 61px;
  }
  .header__list__item {
    margin-right: 76px;
  }
  .header__input {
    width: 336px;
  }
  .header__search {
    margin-top: 50px;
  }
}

@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_mobile@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_mobile@2x.png);
    height: 230px;
  }
}

.library {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_mobile.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 230px;
  padding-left: 20px;
  padding-right: 20px;
}

.library__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.library__icon {
  margin-top: 56px;
}

.library__span {
  display: inline-block;
  -webkit-animation: flip 2s infinite;
          animation: flip 2s infinite;
  -webkit-animation-delay: calc(.2s * var(--i));
          animation-delay: calc(.2s * var(--i));
}

@-webkit-keyframes flip {
  0%,
  80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes flip {
  0%,
  80% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.library__name {
  color: transparent;
  display: inline-block;
}

.library__navigation {
  display: inline-block;
  height: 14px;
  margin-top: 58px;
}

.library__navigation-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  list-style: none;
}

.library__navigation-item--lastchild {
  border-bottom: 3px solid #ff6b08;
  margin-right: auto;
}

.library__navigation-link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.library__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.library__button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: 44px;
  line-height: 16px;
  margin-top: 39px;
  max-width: 129.53px;
  padding: 14px 36px 12px 36px;
  text-align: center;
  text-transform: uppercase;
}

.library__button:hover, .library__button:focus {
  cursor: pointer;
  background: #ff6b01;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_tablet.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_tablet.png);
    height: 230px;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .library__div {
    margin-left: 71px;
    margin-right: 71px;
  }
  .library__name {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
  }
  .library__navigation-list {
    gap: 39px;
  }
  .library__button {
    height: 44px;
    max-width: 136px;
    padding: 14px 38px 12px 38px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_tablet@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_tablet@2x.png);
  }
}

@media screen and (min-width: 1024px) {
  .library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_desktop.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_desktop.png);
    max-width: 100%;
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  .library__div {
    margin-left: 71px;
    margin-right: 71px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.56)), to(rgba(0, 0, 0, 0.56))), url(../images/header_lib_desktop@2x.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../images/header_lib_desktop@2x.png);
  }
}

.start-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff001b;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.lib-gallery__list {
  grid-row-gap: 30px;
  margin: 20px auto 40px auto;
  max-width: 280px;
}

.lib-gallery__image {
  border-radius: 5px;
  height: 398px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 280px;
}

.lib-gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
}

.lib-gallery__desc {
  color: #ff6b08;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 32px;
  line-height: 16px;
  width: 100%;
}

.lib-gallery__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .lib-gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 50px auto 60px auto;
    max-width: 616px;
  }
  .lib-gallery__image {
    height: 398px;
    width: 294px;
  }
  .lib-gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 294px;
  }
  .lib-gallery__title {
    height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .lib-gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 60px auto 50px auto;
    max-width: 882px;
  }
  .lib-gallery__image {
    height: 398px;
    width: 274px;
  }
  .lib-gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 274px;
  }
}

.box {
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  font-size: 12px;
  font-weight: 500;
  height: 40px;
  line-height: 1.333;
  padding: 0;
  width: 40px;
}

.box:hover {
  cursor: pointer;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.pagination_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination_current-page {
  background-color: #ff6b08;
  border-radius: 5px;
  color: #ffffff;
}

.pagination_current-page:hover {
  cursor: initial;
}

.pagination_hider, .pagination_first-page, .pagination_last-page {
  display: none;
}

.pagination_right, .pagination_left {
  background: #f7f7f7;
}

@media screen and (min-width: 768px) {
  .pagination {
    margin-bottom: 60px;
  }
  .pagination_hider {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .pagination_hider:hover {
    cursor: initial;
  }
  .pagination_dots {
    margin-top: 8px;
  }
  .pagination_first-page {
    visibility: hidden;
  }
  .pagination_hider-first {
    visibility: hidden;
  }
  .pagination_first-page, .pagination_last-page {
    display: inline-block;
  }
  .pagination_less-two, .pagination_less-one {
    visibility: hidden;
  }
}

.footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.footer_info {
  display: inline-block;
  max-width: 100%;
  text-align: center;
}

.footer_style {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.footer_icon {
  margin-left: 10px;
  margin-right: 10px;
}

.footer_first, .footer_second, .footer_third, .footer_link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.143;
}

.footer_link {
  text-decoration: underline;
}

.footer_link:hover, .footer_link:focus {
  cursor: pointer;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 77px;
  }
  .footer_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer_style {
    margin-top: 0;
    margin-left: 4px;
  }
  .footer_first, .footer_second, .footer_third, .footer_link {
    font-size: 16px;
    line-height: 1.188;
  }
}

#students-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

#students-container.visible {
  -webkit-transform: scaleY(0.01) scaleX(0);
          transform: scaleY(0.01) scaleX(0);
  -webkit-animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#students-container.visible .students-background .students {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#students-container.visible.unvisible {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#students-container.visible.unvisible .students-background .students {
  -webkit-animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#students-container .students-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

#students-container .students-background .students {
  max-width: 300px;
  max-height: 95%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa876), to(#ff5100));
  background: linear-gradient(#ffa876, #ff5100);
  padding: 10px;
  margin: auto;
  display: block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#students-container .students-background .students h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1em;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #ffffff;
  text-shadow: 2px 2px 4px black;
}

#students-container .students-background .students-picture {
  border: 2px solid black;
  border-radius: 25px;
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

#students-container .students-background .students-name {
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #43005e;
  text-shadow: 1px 1px 2px white;
}

#students-container .students-background .students-position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

#students-container .students-background .students-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#students-container .students-background .students-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  color: #afb1b8;
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 16px 5px 0px;
}

#students-container .students-background .students-social-links:hover, #students-container .students-background .students-social-links:focus {
  background-color: lightblue;
  fill: #ffffff;
  color: #ffffff;
  -webkit-transition: color fill background-color;
  transition: color fill background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldIn {
  0% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
}

@-webkit-keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes unfoldOut {
  0% {
    -webkit-transform: scaleY(1) scaleX(1);
            transform: scaleY(1) scaleX(1);
  }
  50% {
    -webkit-transform: scaleY(0.005) scaleX(1);
            transform: scaleY(0.005) scaleX(1);
  }
  100% {
    -webkit-transform: scaleY(0.005) scaleX(0);
            transform: scaleY(0.005) scaleX(0);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes zoomOut {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media screen and (min-width: 768px) {
  #students-container .students-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #students-container .students-background .students {
    max-width: 740px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa876), to(#ff5100));
    background: linear-gradient(#ffa876, #ff5100);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #students-container .students-background .students h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: 0.3em;
    height: 100px;
    font-size: 50px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  #students-container .students-background .students-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #students-container .students-background .students-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #students-container .students-background .students-picture {
    border: 2px solid black;
    border-radius: 25px;
    width: 140px;
    height: 140px;
  }
  #students-container .students-background .students-name {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    color: #43005e;
  }
}

@media screen and (min-width: 1024px) {
  #students-container .students-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
  }
  #students-container .students-background .students {
    max-width: 900px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffa876), to(#ff5100));
    background: linear-gradient(#ffa876, #ff5100);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
  }
  #students-container .students-background .students h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100px;
    font-size: 70px;
    letter-spacing: 0.3em;
    line-height: 25px;
    margin-bottom: 15px;
  }
  #students-container .students-background .students-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #students-container .students-background .students-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #students-container .students-background .students-picture {
    border: 2px solid black;
    border-radius: 25px;
    width: 170px;
    height: 170px;
  }
  #students-container .students-background .students-name {
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 36px;
    color: #43005e;
  }
}
/*# sourceMappingURL=main.css.map */