<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Filmoteka</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="../sass/main.css">
</head>
<body>
  <header class="header__lib">
    <div class="menu__sec">
      <a class="title__container" href="../index.html">
        <svg class="movie__svg">
          <use href="../images/icons.svg#movie"></use>
        </svg>
        <span class="title">Filmoteka</span>
      </a>
      <div class="menu__sec__list">
        <a class="menu  text__normal" href="../index.html">HOME</a>
        <a class="menu menu__active text__normal" href="./partials/library.html">MY LIBRARY</a>
      </div>
    </div>
    <div class="btn__container">
      <div class="lib__btn active__btn">
        <span class="btn__text">watched</span>
      </div>
      <div class="lib__btn inactive__btn">
        <span class="btn__text">queue</span>
      </div>
    </div>
  </header>
  
  <div class="film__menu">
    <div class="film__container">
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
      <div class="film__block">
        <img src="../images/Greyhound.png" alt="greyhound" class="film__image">
        <div class="film__block__text">
          <p class="film__title text__sm">GREYHOUND</p>
          <div class="film__block__grade">
            <p class="film__info text__sm">Drama, Action | 2020</p>
            <span class="grade text__sm">10.0</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pages">
    <div class="next__btn">
      <svg class="next__svg">
        <use href="../images/icons.svg#arrow_left"></use>
      </svg>
    </div>
    <div class="pagination__placeholder">pagination placeholder</div>
    <div class="next__btn">
      <svg class="nextr__svg">
        <use href="../images/icons.svg#arrow_right"></use>
      </svg>
    </div>
  </div>
  <footer class="footer">
    <footer class="footer">
      <span class="footer__text text__normal">© 2020 | All Rights Reserved | </span>
      <span class="footer__text text__normal">Developed with</span>
      <svg class="heart__svg">
        <use href="../images/icons.svg#heart"></use>
      </svg>
      <span class="footer__text text__normal">by</span>
      <a class="footer__text footer__link text__normal">GoIT Students</a>
    </footer>
  </footer>
</body>