<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logowanie</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<style>
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0px;
  }

</style>
</head>
<body>
  <div class="mb-5">
    <h3 class="mb-3">Zaloguj się</h3>
    <input type="text" placeholder="Username" id="userInp" class="form-control mb-3">
    <input type="text" placeholder="Password" id="passInp" class="form-control mb-3">
    <div class="custom-control custom-switch mb-3">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Nie wylogowuj mnie</label>
    </div>
    <button type="text"  class="btn btn-outline-primary mb-3 w-100">Zaloguj się</button>
    <a href="register.html" class="badge badge-secondary py-1 w-100">Chcesz stworzyć nowe konto?</a>
  </div>
  <script type="module">

    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js";

    const firebaseConfig = {
    apiKey: "AIzaSyBulMv4pcqQuE-07OQzCPJndZy3ERgivNg",
    authDomain: "bazafilmow-6953c.firebaseapp.com",
    databaseURL: "https://bazafilmow-6953c-default-rtdb.firebaseio.com",
    projectId: "bazafilmow-6953c",
    storageBucket: "bazafilmow-6953c.appspot.com",
    messagingSenderId: "689783152311",
    appId: "1:689783152311:web:001124baaff2deec7e7732"
  };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);

    import { getDatabase, ref, set, child, get } from "https://www.gstatic.com/firebasejs/9.6.11/firebase-database.js";

    const db = getDatabase();

       //REFS
  const username = document.getElementById('userInp');
  const pass = document.getElementById('passInp');
  const submit = document.getElementById('sub_btn');

  //Auth

  function AuthentificateUser(){

  const dbref = ref(db);

  get(child(dbref, "UsersList/"+ username.value)).then((snapshot)=>{
    if(snapshot.exists()){
      let dbpass = decPass(snapshot.val().password)
      if(dbpass == pass.value){
        login(snapshot.val());
      }
      else {
        alert("uzytkownik nie istnieje");
      }
    }
    else {
      alert("nick albo haslo jest nie prawidlowe")
    }
  });
  }
  // Decript process

  function decPass(){
    var pass12 = CryptoJS.AES.deccrypt(dbpass, pass.value);
    return pass12.toString(CryptoJS.enc.Utf8);
}
// Login

function login(user){
  let keepLoggedIn = document.getElementById('customSwitch1').checked;

  if(!keepLoggedIn){
    sessionStorage.setItem('user', JSON.stringify(user));
    window.location="index.html";
  }
  else {
    localStorage.setItem('keepLoggedIn', 'yes');
    localStorage.setItem('user', JSON.stringify(user));
    window.location="index.html";
  }
}
// Assign the Events
if (submit){
  submit.addEventListener('click', AuthentificateUser);
}

  </script>
</body>
</html>