<section class="pagination container">
  <div class="pagination_buttons">
    <button class="pagination_left box" type="button">
      <img class="pagination_arrow-icon" src="./images/arrow-left.png" alt="left-arrow">
        
      </img>
    </button>
    <button class="pagination_first-page box" type="button">1</button>
    <button class="pagination_hider-first pagination_hider box" type="button" disabled><p class="pagination_dots">...</p></button>
    <button class="pagination_less-two box" type="button" disabled>-1</button>
    <button class="pagination_less-one box" type="button" disabled>0</button>
    <button class="pagination_current-page box" type="button">1</button>
    <button class="pagination_more-one box" type="button">2</button>
    <button class="pagination_more-two box" type="button">3</button>
    <button class="pagination_hider-last pagination_hider box" type="button"><p class="pagination_dots">...</p></button>
    <button class="pagination_last-page box" type="button">10</button>
    <button class="pagination_right box" type="button">
      <img class="pagination_arrow-icon" src="./images/arrow-right.png" alt="right-arrow">
        
      </img>
    </button>
  </div>
</section>